



@media (max-width:992px){
  
    .navbar > .container-fluid .navbar-brand2{
        padding-left : 10px;
    }}



/*للموبايلات */
@media (max-width :767px){

   .navbar > .container-fluid .navbar-brand2 {
    padding-left: 10px;
    position: relative;
    top: -99px;
    left: 200px;
    
}
 .dl-horizontal dd:after, .container:after, .container-fluid:after,  .form-horizontal .form-group:after, 
.btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after,
 .pager:after, .panel-body:after, .modal-header:after, .modal-footer:after {
    clear: none; 
}
.container-fluid{
   margin-bottom: -53px;
  
}
.navbar-fixed-top{
    position: relative;
    top: 0px;
    bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
    .navbar-nav {
       
        margin-top: 59px;
        display: flex;
    }





    footer{
        text-align: center;
        background: aquamarine;
        border-radius: -1px;
       margin-bottom: 0px;
       
        font-family: none;
        
        height: 81px;
    }

   
.navbar-right>li {
    position: relative;
    bottom: 104px;
    right: 188px;
left: 85px;
}
    .navbar-nav .open .dropdown-menu {
        position: absolute;
        left: 0px;
        right: 0px;
       
        bottom: 0px;
    
        background-color: rgba(255,239,213,.5);
        
        left: -1px;
        height: 0px;
      
    }}
      
    
   
   
/*لشاشات الجبيره */
@media (min-width :1200px){

}

@media (min-width :768pxpx) and (max-width:991px){

}
@media (min-width :992pxpx) and (max-width:1199px){

}
